<div class="side-navbar">
    <h3 class="white-text">Administrace</h3>
    <a class="hide-panel" id="hide-panel"><i class="white-text material-icons">arrow_back</i></a>
    <div class="side-links">
        <a class="active-side-link" href="#">Hlavní panel</a>
        <a href="/admin/chat"><i class="material-icons left white-text">forum</i>Chat</a>
        <a href="#"><i class="material-icons left white-text">assignment</i>Objednávky</a>
        <a href="#"><i class="material-icons left white-text">view_carousel</i>Produkty</a>
        <a href="#"><i class="material-icons left white-text">access_alarm</i>Novinky</a>
        <a href="#"><i class="material-icons left white-text">web</i>Blog</a>
    </div>
    <a href="#" class="side-logout"><i class="material-icons white-text left">reply</i> Odhlásit se</a>
</div>
