<div class="handle-chat">
    <div id="chat-icon" class="circle white">
        <i class="material-icons">forum</i>
    </div>

    <div id="chat" class="chat">
        <div class="header">
            <i id="close-icon" class="white-text material-icons close-chat">close</i>
            <h5 class="white-text">Napište nám !</h5>
        </div>
        <div id="messages-container" class="messages">
            <!--
                <div class="message">
                    <p class="client">Dobrý den</p>
                </div>
            -->          
        </div>

        <div class="mess-input">
                <div class="input-field">
                    <input id="message-input" type="text" class="validate">
                    <label for="message-input">Zpráva...</label>
                </div>
                <a id="submit" class="send"><i class="material-icons">send</i></a>   
        </div>
    </div>
</div>