<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<!-- local JavaScript -->
<script src="/socket.io/socket.io.js"></script>s
<script src="/js/main.js"></script>

<% if (!isAdminLoggedIn) { %>
<script src="/js/components/clientChat.js"></script>
<% } %>

<% if (url === '/') { %>
<script src="/js/pages/index.js"></script>

<% } else if (url === '/obchod') { %>
<script src="/js/pages/shopIndex.js"></script>

<% } else if (url === '/obchod/kosik') { %>


<% } else if (url === '/blog') { %>


<% } else if (url === '/novinky') { %>


<% } else if (url === '/kontakt') { %>


<% } else if (url === '/ucet/prihlasit' || url == '/ucet/registrovat') { %>


<% } else if (url === '/ucet/profil') { %>


<% } else if (url === '/admin') { %>
<script src="/js/pages/dashboard.js"></script>
<script src="/js/components/adminSideBar.js"></script>

<% } else if (url === '/admin/novy-produkt' || url === '/admin/upravit-produkt') { %>
<script src="/js/components/adminSideBar.js"></script>

<% } else if (url === '/admin/chat') { %>
<script src="/js/pages/adminChat.js"></script>
<script src="/js/components/adminSideBar.js"></script>

<% } %>


</body>

</html>