<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="Zdravá výživa">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <% if (!isAdminLoggedIn) { %>
    <link rel="stylesheet" href="/css/components/clientChat.css">
    <% } %>

    <% if (url === '/') { %>
    <link rel="stylesheet" href="/css/pages/index.css">

    <% } else if (url === '/obchod') { %>
    <link rel="stylesheet" href="/css/pages/shopIndex.css">

    <% } else if (url === '/obchod/kosik') { %>
    <link rel="stylesheet" href="/css/pages/shoppingCart.css">

    <% } else if (url === '/blog') { %>
    <link rel="stylesheet" href="/css/pages/blogIndex.css">

    <% } else if (url === '/novinky') { %>
    <link rel="stylesheet" href="/css/pages/newsIndex.css">

    <% } else if (url === '/kontakt') { %>
    <link rel="stylesheet" href="/css/pages/contactIndex.css">

    <% } else if (url === '/ucet/prihlasit' || url == '/ucet/registrovat' || url == '/ucet/registrovat-admin') { %>
    <link rel="stylesheet" href="/css/pages/login.css">

    <% } else if (url === '/ucet/profil') { %>
    <link rel="stylesheet" href="/css/pages/profile.css">

    <% } else if (url === '/admin') { %>
    <link rel="stylesheet" href="/css/pages/dashboard.css">
    <link rel="stylesheet" href="/css/components/adminSideBar.css">

    <% } else if (url === '/admin/novy-produkt' || url === '/admin/upravit-produkt') { %>
    <link rel="stylesheet" href="/css/pages/editProduct.css">
    <link rel="stylesheet" href="/css/components/adminSideBar.css">

    <% } else if (url === '/admin/chat') { %>
    <link rel="stylesheet" href="/css/pages/adminChat.css">
    <link rel="stylesheet" href="/css/components/adminSideBar.css">

    <% } %>
</head>

<body>

    <script>

        //save active link to client variable
        const url = '<%= url %>'

        //save success flash message to client variable
        const successMsg = '<%= successMsg %>'

    </script>