<div class="main-navbar">
    <div class="container">
        <a href="/" class="main-logo light-green-text text-darken-4">Zdravá výživa</a>

        <div class="main-links">
            <a href="/" class="main-link">Úvod</a>
            <a href="/obchod" class="main-link">Obchod</a>
            <a href="/blog" class="main-link">Blog</a>
            <a href="/novinky" class="main-link">Novinky</a>
            <a href="/kontakt" class="main-link">Kontakt</a>

            <div class="main-link-icons">
                <a href="/obchod/kosik">
                    <i class="material-icons">shopping_cart</i>
                    
                    
                    <span id="cart-qty">
                        <% if (cart.totalQty > 0) { %>
                            <%= cart.totalQty %>
                        <% } %>
                    </span>
                </a>
                <a href="#"  data-target='accounts' class="dropdown-trigger">
                    <i class="material-icons">account_circle</i>
                </a>
                <a href="#">
                    <i class="material-icons">search</i>
                </a>
            </div>

            <ul id='accounts' class='dropdown-content account-dropdown'>

                <% if (isLoggedIn) { %>
                    <li><a class="black-text" href="/ucet/profil"><%= userName %></a></li>
                    <li class="divider" tabindex="-1"></li>

                    <% if (isAdminLoggedIn) { %>
                        <li><a class="black-text" href="/admin">Administrace <i class="right material-icons grey-text admin-icon">verified_user</i></a></li>
                        <li class="divider" tabindex="-1"></li>
                    <% } %>

                    <li><a class="black-text" href="/ucet/odhlasit">Odhlásit se</a></li>                   
                <% } else { %>
                    <li><a class="black-text" href="/ucet/prihlasit">Přihlásit se</a></li>
                    <li class="divider" tabindex="-1"></li>
                    <li><a class="black-text" href="/ucet/registrovat">Registrovat</a></li>
                <% } %>
            </ul>
            
        </div>
    </div>      
</div>