/* ADMIN DASHBOARD */
.side-navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20rem;
    height: 100%;
    background: linear-gradient(to right, #689f38, #33691e);
    padding: 7rem 0rem 2rem 0rem;
}
.side-navbar h3 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: lighter;
}
.side-links {
    margin-top: 6rem;
    padding: 0 0 0 2rem;
}
.side-links a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    font-size: 1.1rem;
    transition: .3s all ease-in-out;
}
.side-links a:hover {
    padding-left: 1.45rem;
}
.side-links .active-side-link {
    background-color: white;
    color: #558b2f;
    padding-left: 2rem;
    border-radius: 30px 0 0 30px;
    box-shadow: 0 2px 4px -2px rgba(0,0,0,.5);
}
.side-links .active-side-link:hover {
    padding-left: 2rem;
}
.side-navbar .side-logout {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    color: white;
}
.side-navbar .hide-panel {
    position: absolute;
    top: 8rem;
    right: 1rem;
    color: white;
    transition: .3s all ease-in-out;
    cursor: pointer;
}
.side-navbar .hide-panel:hover {
    right: 1.2rem;
}
.main .side-bar-summoner {
    position: absolute;
    color: grey;
    top: 8rem;
    left: 1rem;
    display: none;
    cursor: pointer;
    transition: .3s all ease-in-out;
}
.main .side-bar-summoner:hover {
    left: 1.2rem;
}
.main {
    position: relative;
    margin-left: 20rem;
    padding: 10rem 5rem 0 5rem;
    min-height: 100%;
}