/* BLOG */
.blog-landing {
    padding-top: 7rem;
    width: 100%;
    height: 100%;
    position: relative;
}
.blog-landing-title {
    font-weight: lighter;
    font-size: 120px;
    text-align: center;
    margin-bottom: 0;
}
.blog-landing-plate-img {
    position: absolute;
    left: 0;
    top: 12%;
}
.blog-landing-card {
    position: relative;
    height: 37rem;
    width: 100%;
    border-radius: 10px;
}
.blog-landing-card .card-caption h5 {
    margin-top: 2rem;
    width: 100%;
    text-align: center;   
}
.blog-landing-card .card-caption p {
    width: 100%;
    padding: 0 2rem;
    text-align: center;   
}
.blog-landing-card .card-link {
    width: 100%;
    padding: 0 7rem;   
}
.blog-landing-card .card-link a {
    position: relative;
    display: inline-block;
    padding: .5rem 0;
    width: 100%;
    text-align: center;
    border-radius: 24px;
    text-transform: uppercase;
}
.blog-landing-card .card-link a i {
    position: absolute;
    right: .5rem;
}
.blog-landing-card .card-img {
    height: 20rem;
    width: 100%;
    border-radius: 10px;
}
.blog-landing-card .card-img img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.blog-landing-card .card-info {
    margin-top: 1rem;
    width: 100%;
    padding: 0 5rem;
    color: grey;
}
.blog-landing-card .card-info .author {
    float: left;
    width: auto;
}
.blog-landing-card .card-info .date {
    float: right;
    width: min-content;
}