
.admin-land-card {
    border-radius: 10px;
    padding: 1rem 1rem .5rem 1rem;
    position: relative;
    box-shadow: 0 1px 1px rgba(115, 115, 115,0.12), 
              0 2px 2px rgba(115, 115, 115,0.12), 
              0 4px 4px rgba(115, 115, 115,0.12), 
              0 8px 8px rgba(115, 115, 115,0.12),
              0 16px 16px rgba(115, 115, 115,0.12);
}
.admin-land-card p {
    color: grey;
    text-transform: uppercase;
    margin: 0 0 .8rem 0;
}
.admin-land-card h6 {
    font-size: 1.6rem;
    margin: 0 0 1.2rem 0;
}
.admin-land-card i.main-icon {
    position: absolute;
    right: 1.5rem;
    bottom: 0rem;
    color: #689f38;
    /*background: linear-gradient(to right, #689f38, #33691e);*/
    padding: .6rem;
    border-radius: 50%;
}
.admin-land-card .more {
    position: relative;
    display: inline-block;
    width: auto;
    color: grey;
}
.admin-land-card .more:hover {
    color: black;
}
.admin-land-card .more i {
    float: right;
    margin: 0;
}