.edit-product-page {
    padding-top: 8rem;
}
.edit-product-page h2 {
    text-align: center;
}
.uploud-img {
    float: left;
    padding: .8rem 0rem;
    color: black;
    border: none;
}
.submit-new {
    margin-top: 1rem;
    display: inline-block;
    width: 100%;
    border: none;
    padding: .7rem;
    border-radius: 24px;
    cursor: pointer;
}
.file-path-wrapper {
    padding-left: 3rem !important;
}