/* SHOPPING CART */
.cart-title {
    padding-top: 8rem;
    color: black;
    font-weight: lighter;
    text-align: center;
}
.cart-item {
    width: 100%;
    padding: .6rem;
    overflow: hidden;
}
.cart-item img {
    height: 6rem;
    width: auto;
}
.cart-item-title {
    font-weight: lighter;
    font-size: 20px;
    padding-top: 1rem;
    color: black;
    vertical-align: middle;
}
.qty-block {
    padding-top: .5rem !important;
}
.cart-item-qty {
    font-weight: lighter;
    font-size: 18px;
    color: black;
    vertical-align: middle;
    margin: 0;
}
.cart-item-price {
    font-size: 18px;
    padding-top: 1.2rem;
    color: black;
    vertical-align: middle;
    float: right;
    margin-right: 1rem;
}
.cart-item-delete {
    margin-top: 2.4rem;
    float: right;
}