<%- include('../partials/_header') %>
<%- include('../partials/_navbar') %>


<div class="blog-landing">
 <!--<img src="/img/healthy_food3.png" class="blog-landing-plate-img">-->   

    <h2 class="blog-landing-title">Blog</h2>

    <div class="row">               
            <div class="input-field col s4 offset-s4">
                <i class="material-icons prefix grey-text">search</i>
                <input id="first_name2" type="text" class="validate">
                <label class="active" for="first_name2">Prohledat blog</label>
            </div>
    </div>
    <div class="row">

        <div class="col s3 offset-s3">
            <div class="blog-landing-card z-depth-2">
                <div class="card-img">
                    <img src="/img/avocado.jpg">
                </div>
                <div class="card-caption">
                    <h5>Název článku</h5>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis risus.
                        Integer tempor. Phasellus rhoncus.
                    </p>
                </div>
                <div class="card-link">
                    <a class="white-text light-green darken-1" href="#">Celý článek 
                        <i class="material-icons">arrow_right</i>
                    </a>
                </div>
                <div class="card-info">
                    <p class="author">Adam Pietrosch</p>
                    <p class="date">12.5.2020</p>
                </div>
            </div>
        </div>
        <div class="col s3">
            <div class="blog-landing-card z-depth-2">
                <div class="card-img">
                    <img src="/img/healthy_food.jpg">
                </div>
                <div class="card-caption">
                    <h5>Název článku</h5>
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis risus.
                        Integer tempor. Phasellus rhoncus.
                    </p>
                </div>
                <div class="card-link">
                    <a class="white-text light-green darken-1" href="#">Celý článek
                        <i class="material-icons">arrow_right</i>
                    </a>
                </div>
                <div class="card-info">
                    <p class="author">Adam Pietrosch</p>
                    <p class="date">12.5.2020</p>
                </div>
            </div>
        </div>

    </div>
    
</div>


<%- include('../partials/_footer') %>